*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(nature.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
}
.logo {
    margin: 40px 0 0 15px;
}
.title{
    text-align: center;
    position: relative;
    top: 40%;
    color: white;
    font-family: "Courier New", "Copperplate", "Papyrus", sans-serif;
    font-size: 7vw;
    font-style: italic;
}
.navbar-links {
    display: flex;
}
.navbar-links ul{
    list-style-type: none;
}
.navbar-links ul li{
    display: inline-block;
}
.navbar-links ul li a{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    justify-content: space-between;
    color: white;
    font-size: 22px;
    top: 20px;
    margin-right: 25px;
    padding: 10px;
}
.navbar-links li a:hover{
    background-color: white;
    color: black;
}
.hamburger{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.hamburger .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white; 
}
.box{
    float: left;
    width: 30%; 
    padding: 10px;
    text-align: center;
    margin-bottom: 1.05%;
    background-color: white;
    overflow: hidden;
}
.box img{
    height: 25%;
    width: 25%;
}
.box h3{
    margin-top: 2px;
    margin-bottom: 5px;
}
.container-2{
    width: 100%;
    background-color: #E8E8E8; 
    overflow: hidden;

}
.container-2 img{
    float: left;
    width: 50%;
}
.container-2 h2{
    text-align: center;
    padding: 25px 0px;
}
#myAbout{
    text-align: center;
    padding: 0px 30px; 
}
.container-3{
    clear: both;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8; 
    overflow: hidden;
}
.container-3 img{
    float: right;
    width: 50%;
}
.container-3 h2{
    text-align: center;
    padding: 25px 0px;
}
#myContent{
    text-align: center;
    padding: 0px 1px; 
}
.container-4{
    width: 110px;
    height: 110px;
    margin: 100px auto;
}
.container-4 h2{
    position: relative;
    top: -50px;
    right: 25px;
    white-space: nowrap;
}
.circle{
    height: 100px;
    width: 100px;
    top: 5px;
    left: 5px;
    text-align: center;
    border-radius: 100%;
    background-color: #bbffbe;
    position: relative;
}
.percent{
    height: 110px;
    width: 110px;
    border-radius: 100%;
    position: relative;
    background-color:#B8B8B8;
    background-image:
        linear-gradient(104deg, transparent 50%, #05fa13 50%),
        linear-gradient(90deg, #05fa13 50%, transparent 50%);
}
.p-big{
    position: relative;
    top: 33px;
    font-size: 30px;
}
footer{
    clear: both;
    background-color: #E8E8E8; 
    text-align: center;
}

@media (max-width: 600px) {
    .hamburger{
        display: flex;
        position: absolute;
    }
    .hamburger.active{
        transform: rotate(90deg);
    }
    .hamburger.active .bar{
        background-color: black;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin: 15px 0 0 15px;
    }
    .navbar-links{
        display: none;
    }
    .navbar-links ul{
        text-align: center;
    }
    .navbar-links ul li{
        width: 100%;
    }
    .navbar-links ul li a{
        display: block;
        top:50px;
        text-align: center;
        padding: 10px 120px;
        margin: 0;
        background-color: white;
        color: black;
        border: 1px solid black
    }
    .navbar-links ul li a:hover{
        background-color: black;
        color: white;
    }
    .navbar-links.active {
        display: flex;
    }
    .box-container{
        flex-direction: column;
    }
    .box{
        width: 80%;
        margin-bottom: 20px;
    }
    .container-2{
        flex-direction: column;
        padding-bottom: 20%;
        height: 100%;
    }
    .container-2 img{
        position: relative;
        top: 70px;
        left: 25%;
    }
    .container-2 h2{
        position: relative;
        right: 120px;
    }
    .container-2 p{
        clear: both;
        position: relative;
        top: 95px;
        padding: 50px 0;
    }
    .container-3{
        flex-direction: column;
        padding-bottom: .2%;
        height: 380px;
    }
    .container-3 img{
        position: relative;
        top: 70px;
        right: 25%;
    }
    .container-3 h2{
        position: relative; 
        left: 120px;
    }
    .container-3 p{
        position: relative;
        clear: right;
        top: 100px;
    }
    .container-4 h2{
        right: 30px;
    }
}